body {
  background-color: #710d0d;
}

h1 {
  font-weight: normal;
  font-style: italic;
  color: #b7a64a;
  margin-bottom: 0;
}

#controls {
  margin-left: auto;
  margin-right: auto;
  width: 602px;
}

#options {
  float: right;
  padding: 1px 8px 1px 8px;
  border: 1px solid black;
  border-radius: 3px;
  margin-bottom: 5px;
  margin-top: -30px;
}

#options p {
  margin-top: 3px;
  margin-bottom: 3px;
}

#shakebutton {
  font-size: 14px;
  padding: 5px 15px 5px 15px;
  border-radius: 3px;
  margin-top: 5px;
  border: 1px solid black;
}

#gridsizeinput {
  width: 40px;
  margin-right: 5px;
  margin-left: 5px;
  border:  1px solid black;
  border-radius: 3px;
}

#gridsizebutton {
  border: 1px solid black;
  border-radius: 3px;
}

.checkbox {
  float: right;
  margin: 0;
}

#container {
  width: 600px;
  height: 600px;
  clear: both;
  padding: 0;
  margin: auto;
  border:  1px solid black;
  border-radius: 3px;
}

.row {
  padding: 0;
  margin: 0;
}

.square {
  padding: 0;
  margin: 0;
  float: left;
  background-color: #c8c8c8;
}

.highlight {
  background-color: black;
}
